<%- include('./components/header')%>
<div id="index">
    <h1>Know.me</h1>
    <div>
        <article>
            <p>Discover connections like never before. We bring people together by highlighting what they have in common.</p>
            <p>Create your profile, take a fun and insightful test, and find out how much you share with others.</p>
            <form method="post">
                <button>Create your own profile</button>
            </form>
        </article>
    </div>
    <div class="container">
        <% episodes.forEach(episode => { %>
            <div class="episode-card">
                <img src="<%= episode.Image %>" alt="<%= episode.Title %>">
                <div>
                    <h2><%= episode.Title %></h2>
                    <p><strong>Anime:</strong> <%= episode.Anime %></p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include('./components/footer') %>