<%- include('../../components/header')%>
<section id="user-profile">
    <div>
        <div>Username:  <div><%=  user.username%> </div></div>
        <div>Country:  <div><%=  user.country%> </div></div>
        <div>Gender:  <div><%=  user.gender%> </div></div>
        <div>Role:  <div><%=  user.role%> </div></div>
    </div>
</section>
<%- include('../../components/footer')%>